.valaszok {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
}

.teszt {
    color: white;
    padding: 2%;
    background-color: brown;
}

.valasz {
    max-width: auto;
    text-align: center;
    background-color: lightgray;
    margin: 1%;
    border: 1px solid black;
}

img {
    max-width: 20%;
}

@media screen and (max-width: 800px) {
    .valaszok {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1%;
    }
}